.dub
docs.json
dub.selections.json
libgccjitd.a
gccjitd-test-library
gccjitd-test-betterC
test/brainf/gccjitd_brainf
test/capi/gccjitd_capi
test/dapi/gccjitd_dapi
test/square/gccjitd_square
test/sum-squares/gccjitd_sum-squares
test/toy/gccjitd_toy
test/unittests/gccjitd-unittests-test-betterC
test/unittests/gccjitd-unittests-test-library
